@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .minimal-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .minimal-scrollbar::-webkit-scrollbar-track-piece{
    background-color: #FFF;
    border-radius: 10px;

  }

  .minimal-scrollbar::-webkit-scrollbar-thumb{
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
    border-radius: 10px;

  }

  .minimal-scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
  }

  .minimal-scrollbar-horizontal::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  .minimal-scrollbar-horizontal::-webkit-scrollbar-track-piece{
    background-color: #FFF;
  }

  .minimal-scrollbar-horizontal::-webkit-scrollbar-thumb{
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
  }

  .minimal-scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
  }
}
